

.joystickIcon {
    margin: auto;
    color: white;
    width: 300px;
    height: 300px;
}

.projectBox {
    animation: RestartTranslateBox 1s;
}

.projectBox:hover {
    animation: StartTranslateBox 1s forwards;
}

@keyframes StartTranslateBox {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes RestartTranslateBox {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}