svg {
    width: 60px;
    height: 60px;

}

.htmlIcon {
    color: #e44f26;
}
.cssIcon {
   color: #2465f1;
}
.btIcon {
    color: #7310f6;
}
.reactIcon {
    color: #59c3e0;
}
.fdbIcon {
    color: #ffa610;
}